.Global {
    text-align: center;
    padding: 10px;
}

/*Gallery Style*/
.book {
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 10px;
    text-align: left;
    cursor: point;
    position: relative;
}

.book-img {
    width: 220px;
    height: 220px;
    border-radius: 4px;
    object-fit: cover;
    position: absolute;
    border: 4px solid #000;
}

.book-text {
    background-color: #000;
    color: aliceblue;
    opacity: 0.75;
    width: 214px;
    margin-left: 3px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px;
}